<!DOCTYPE html>


<html>

  <head>  
    <title>My 5 Favorite Restaurants</title>
  
  </head>

     <!-- Bootstrap -->
    
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


  <body>
     
    <center>  

    <h1>Edward's 5 favorite Restaurants</h1>
   
   </center>

   
    <oL>	
        
    	<li>54'th Street</li>
    	<li>Texas RoadHouse</li>
    	<li>Red Lobster</li>
    	<li>Shangrila Chinese</li> 
    	<li>Sea Island</li>
    
    </ol>

    


    <center>
    <h2>More Information on Favorite's</h2>
    </center>


    <ol>
    	 <li> <img src="54th_street.png" width = "40"><a href="https://www.54thstreetgrill.com" target = "_blank" > 54'th Street Bar & Grill</a> </li>
    	 <li><img src="texasroadhouse.png" width = "50"> <a href="https://www.texasroadhouse.com" target = "_blank"> Texas RoadHouse </a> </li>
       <li> <img src="redlobster.png" width = "50"><a href="https://www.Redlobster.com" target="_blank"> Red lobster </a> </li>
       <li><img src="shangrila.jpg" width = "50"> <a href="https://www.shangrilasanantonio.com/"target = "_blank"> Shangrila Chinese Food </a> </li>
       <li> <img src="sea_island.png" width = "50"> <a href="https://www.shrimphouse.com/" target = "_blank"> Sea Island</a> </li>        

    </ol>

       
    <center>  
    	<center><a href="My_kitchen.html"> <H4>Visit Edwards' kitchen</H4> </center></a>
      	
    </center>

     



  </body>


</html>
